@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-white);
  font-family: var(--font-geist-sans);
}

input {
  @apply outline-none focus:outline-0;
}

input,
a,
button {
  @apply transition-colors duration-200 ease-in-out;
}

.container {
  @apply px-4;
}
